.container{
    margin:  13% 0;
    text-align: center;
    
}
.heading{
    font-size: 40px;
    font-weight: bold;
}
.pa{
    font-size: 40px;
    font-weight: bold;
}
.container p{
    font-size:20px;
}
